.container {
  .services-section,
  .contact-section {
    background-color: #ebe9ea;
  }
  section {
    width: 100%;
    padding: 4rem 0;
    .row-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row-grid-lg {
      display: grid;
      grid-template-columns: repeat(auto-fit, 30em);
      justify-content: center;
      justify-items: center;
      gap: 2em 2em;
      .col {
        p {
          text-align: justify;
        }
      }
    }
    .row-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20em);
      justify-content: center;
      justify-items: center;
      gap: 2em 2em;
      margin-bottom: 2em;
      .col {
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 5px;
          .img-serv {
            max-width: 50px;
            padding: 2em 0 0;
          }
          h3 {
            padding: 0.5em;
          }
          p {
            line-height: 1.5;
            text-align: justify;
            padding: 0 2em 2em;
          }
          .project {
            display: block;
            background-color: #119993;
            color: white;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            p {
              line-height: 1.5;
              text-align: center;
              padding: 1em;
            }
          }
        }
      }
    }
  }
}

// .container {
//   #services {
//     background-color: #ebe9ea;
//   }
//   section {
//     width: 100%;
//     padding: 4rem 0;
//     .row {
//       display: flex;
//       width: 75%;
//       margin: 0 auto;
//       justify-content: center;
//       .col {
//         p {
//           line-height: 1.5;
//           text-align: justify;
//           padding: 1em;
//         }
//       }
//       .col-title {
//         h2 {
//           text-align: center;
//         }
//       }
//       .col-desc {
//         justify-content: space-between;
//         .card {
//           border-radius: 5px;
//           margin: 0 1em;
//           background-color: white;
//           padding: 2em 1em;
//           h3 {
//             font-size: 2rem;
//             text-align: center;
//           }
//           .img-serv {
//             max-width: 50px;
//             margin: 0 auto 1em;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 576px) {
//   .row {
//     flex-direction: column;
//     width: 95%;
//     margin: 0 auto;
//     justify-content: center;
//     .col {
//       p {
//         padding: 0 !important ;
//       }
//     }
//     .col-desc {
//       .card {
//         margin: 1em 0 !important;
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .row {
//     flex-direction: column;

//     margin: 0 auto;
//     justify-content: center;
//     .col {
//       p {
//         padding: 0 !important ;
//       }
//     }
//     .col-desc {
//       .card {
//         margin: 1em 0 !important;
//       }
//     }
//   }
// }

// @media screen and (max-width: 992px) {
//   .row {
//     flex-direction: column;

//     margin: 0 auto;
//     justify-content: center;
//     .col {
//       p {
//         padding: 0 !important ;
//       }
//     }
//     .col-desc {
//       .card {
//         margin: 1em 0 !important;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1200px) {
// }

// .container {
//   #about {
//     .row-flex {
//       @media screen and (max-width: 992px) {
//         .row-flex {
//           display: flex !important;
//           flex-direction: column !important;
//         }
//       }
//     }
//   }
// }

// #about {
//   width: 100%;
//   padding: 4rem 0;
//   .row {
//     display: flex;
//     width: 75%;
//     margin: 0 auto;
//     justify-content: center;
//     .col-title {
//       h2 {
//         font-size: 3rem;
//       }
//     }
//     .col {
//       p {
//         font-size: 1.6rem;
//         line-height: 1.5;
//         text-align: justify;
//       }
//     }
//     .col-std {
//       margin: 1em;
//       padding: 1em;
//     }
//   }
//   .row-desc {
//     justify-content: space-between;
//   }
// }

// // services
// #services {
//   @media screen and (max-width: 1200px) {
//     .row {
//       width: 95%;
//     }
//   }

//   @media screen and (max-width: 992px) {
//     .row {
//       flex-direction: column;
//       width: 90%;
//     }
//   }

//   @media screen and (max-width: 768px) {
//   }

//   @media screen and (max-width: 576px) {
//     .row {
//       flex-direction: column;
//       width: 100%;
//       margin: 0 auto;
//       justify-content: center;
//       .col-title {
//         h2 {
//           font-size: 2.5rem;
//           text-align: center;
//         }
//         p {
//           font-size: 1.4rem;
//           text-align: center;
//         }
//       }
//     }
//   }
// }
